<!DOCTYPE html>
<html lang="en">

    <%- include('../parties/head'); %>
<body class="container">
    
    <%- include('../parties/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Meu nome é Wilson Junior Paes, e eu estou estudando sobre node EJS</p>
        </div>
    </main>

    <%- include('../parties/footer'); %>

</body>
</html>