<!DOCTYPE html>
<html lang="en">

    <%- include('../parties/head'); %>

<body class="container">

        <%- include('../parties/header'); %>
    <main>
        <div class="jumbotron">
            <h1>Node com EJS</h1>
            <p>Aprendendo a trabalhar com arquivos EJS</p>
        </div>
    </main>
    <%- include('../parties/footer'); %>
 
</body>
</html>